USE [master]
GO
/****** Object:  Database [Hust_Project_1]    Script Date: 9/18/2017 12:44:50 AM ******/
CREATE DATABASE [Hust_Project_1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Hust_Project_1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Hust_Project_1.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Hust_Project_1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Hust_Project_1_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Hust_Project_1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Hust_Project_1]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 9/18/2017 12:44:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[JobInformation]    Script Date: 9/18/2017 12:44:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[JobInformation](
	[JobInformationID] [varchar](100) NOT NULL,
	[JobDoneBy] [varchar](100) NULL,
	[DateOfInvoice] [datetime] NULL,
	[JobStatus] [varchar](100) NOT NULL,
 CONSTRAINT [PK_JobInformation] PRIMARY KEY CLUSTERED 
(
	[JobInformationID] ASC,
	[JobStatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[JobPosition]    Script Date: 9/18/2017 12:44:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[JobPosition](
	[JobPositionID] [varchar](100) NOT NULL,
	[JobName] [nvarchar](250) NULL,
	[StatusID] [varchar](100) NULL,
 CONSTRAINT [PK_JobPosition] PRIMARY KEY CLUSTERED 
(
	[JobPositionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PaymentConfirmation]    Script Date: 9/18/2017 12:44:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PaymentConfirmation](
	[PaymentID] [varchar](100) NOT NULL,
	[ProjectID] [varchar](100) NOT NULL,
	[UserID] [varchar](100) NOT NULL,
	[DatePayment] [datetime] NULL,
	[AmountOfPayment] [varchar](100) NULL,
	[Notification] [nvarchar](250) NULL,
	[StatusID] [varchar](100) NOT NULL,
 CONSTRAINT [PK_PaymentConfirmation] PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC,
	[ProjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ProcessManager]    Script Date: 9/18/2017 12:44:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ProcessManager](
	[ID] [int] NOT NULL,
	[ProcessName] [nvarchar](250) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[Description] [nvarchar](250) NULL,
	[JobPositionID] [varchar](100) NOT NULL,
	[StatusID] [varchar](100) NULL,
 CONSTRAINT [PK_SideBarManager] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[JobPositionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ProcessManagerUser]    Script Date: 9/18/2017 12:44:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ProcessManagerUser](
	[UserID] [varchar](100) NOT NULL,
	[ProjectID] [varchar](100) NOT NULL,
	[JobPositionID] [varchar](100) NULL,
 CONSTRAINT [PK_ProcessManagerUser] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[ProjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Project]    Script Date: 9/18/2017 12:44:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Project](
	[ProjectID] [varchar](100) NULL,
	[UserID] [varchar](100) NULL,
	[ProjectName] [nvarchar](250) NULL,
	[ProjectStatus] [varchar](100) NULL,
	[ProcessCreatedDate] [datetime] NULL,
	[ProcessDeadline] [datetime] NULL,
	[StatusID] [varchar](100) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Status]    Script Date: 9/18/2017 12:44:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Status](
	[StatusID] [varchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Notification] [nvarchar](250) NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserCompany]    Script Date: 9/18/2017 12:44:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserCompany](
	[UserID] [varchar](100) NOT NULL,
	[LastName] [nvarchar](100) NULL,
	[MiddleName] [nvarchar](20) NULL,
	[FirstName] [nvarchar](20) NULL,
	[DateBorn] [datetime] NULL,
	[Email] [varchar](100) NULL,
	[Address] [nvarchar](250) NULL,
	[Username] [varchar](20) NULL,
	[Password] [varchar](20) NULL,
	[ProfilePhoto] [varchar](100) NULL,
	[TimeToStartWorking] [datetime] NULL,
	[LogUser] [varchar](250) NOT NULL,
	[UserCreatedDate] [datetime] NULL,
	[JobPositionID] [varchar](50) NOT NULL,
	[StatusID] [varchar](100) NULL,
 CONSTRAINT [PK_UserCompany] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[JobPosition] ([JobPositionID], [JobName], [StatusID]) VALUES (N'0ad50811-e357-4c9f-910f-ef8180a6c5d2
', N'Kế toán', N'29d2c7c7-5276-48c5-bdde-da20dc9372ef
')
INSERT [dbo].[JobPosition] ([JobPositionID], [JobName], [StatusID]) VALUES (N'12fe89a7-6dec-4c74-8aca-cb55a84933ee
', N'Quản lý kỹ thuật', N'29d2c7c7-5276-48c5-bdde-da20dc9372ef
')
INSERT [dbo].[JobPosition] ([JobPositionID], [JobName], [StatusID]) VALUES (N'28c05515-f624-44f9-a73e-4fc1c91a3d2b
', N'Quản lý dự án', N'29d2c7c7-5276-48c5-bdde-da20dc9372ef
')
INSERT [dbo].[Status] ([StatusID], [Description], [Notification], [IsActive]) VALUES (N'397563f4-5135-4692-9d20-4f28223b77d4
', N'Tài khoản đã kích hoạt', NULL, 1)
INSERT [dbo].[Status] ([StatusID], [Description], [Notification], [IsActive]) VALUES (N'6455f2b5-e56a-462a-a23b-4fc5b195f91f
', N'Dự án đã làm
', NULL, 1)
INSERT [dbo].[Status] ([StatusID], [Description], [Notification], [IsActive]) VALUES (N'72caffed-be53-4926-a298-79b848984eea
', N'Dự án nội bộ
', NULL, 1)
INSERT [dbo].[UserCompany] ([UserID], [LastName], [MiddleName], [FirstName], [DateBorn], [Email], [Address], [Username], [Password], [ProfilePhoto], [TimeToStartWorking], [LogUser], [UserCreatedDate], [JobPositionID], [StatusID]) VALUES (N'0308616e-0519-4315-aa0b-e7c715a919f6', N'Lê', N'Anh', N'Dũng', NULL, N'20128509@student.hust.edu.vn', N'Huyện Vũ Thư', N'20128509', N'20128509', N'https://ssl.gstatic.com/docs/common/profile/chameleon_lg..png', NULL, N'18/07/1990', NULL, N'b9078c83-31b8-44cb-b95f-f251b0130ddf', N'397563f4-5135-4692-9d20-4f28223b77dr')
GO
USE [master]
GO
